<div class="pokemon-card">
    <h2>#<%= pokemon.id %> - <%= pokemon.name.toUpperCase() %></h2>
    <img src="<%= pokemon.sprite %>" alt="<%= pokemon.name %>">
    <p>Tipos: <%= pokemon.types.join(', ') %></p>
</div>
